<nb-card>
  <nb-card-header class="flex">
    <button nbButton hero status="primary" (click)="addTaskDialog()">
      add Tasks
    </button>
    <nb-select class="input" fullWidth placeholder="project_name" style="margin-bottom: 20px; margin-left: 20px;"
      (selectedChange)="changeProject($event)">
      <nb-option *ngFor="let p of projects" [value]=p._id>{{p.projectName}} </nb-option>
    </nb-select>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
    (rowSelect)="getUserRowSelected($event)"
      [settings]="settings"
      [source]="tasks"
      (editConfirm)="onEditConfirm($event)"
      (deleteConfirm)="onDeleteConfirm($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
