
  
  
  
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header >Login</nb-card-header>
        <nb-card-body>
          <form  #loginForm="ngForm" class="form-horizontal" (ngSubmit)="Login()">
            <div class="form-group row">
              <label for="inputEmail3" class="label col-sm-3 form-control-label">Email</label>
              <div class="col-sm-9">
          
                <input [(ngModel)]="obj.email" name="email" type="email" nbInput fullWidth id="inputEmail3" placeholder="Email">
              
              
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="label col-sm-3 form-control-label">Password</label>
              <div class="col-sm-9">
                <input [(ngModel)]="obj.password" name="password" type="password" nbInput fullWidth id="inputPassword3" placeholder="Password">
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <div class="checkbox">
                  <nb-checkbox>Remember me</nb-checkbox>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" nbButton status="warning">Login</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  